<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign work = data[1] | sort: 'startDate' | reverse %}
  {% for content in work %}
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-12 cl-sm-12 col-md-12">
        {% if content.startDate %}
        {% assign startDate = content.startDate | split: "-" | slice: 0,2 | join: "." %}
        {% assign endDate   = content.endDate   | split: "-" | slice: 0,2 | join: "." | default: "Present" %}
        {% assign date = startDate | append: " - "%}
        {% assign date = date | append: endDate %}
        {% else %}
        {% assign date = "" %}
        {% endif %}
        <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="display: block; text-align: center; margin-bottom: 5px;">
          {{ date }}
        </span>
        <h6 class="title font-weight-bold ml-1 ml-md-4">{{content.position}}</h6>
        <h6 class="title font-weight-bold ml-1 ml-md-4">
          {% if content.url %}
          <a href="{{ content.url }}">{{content.name}}</a>
          {% else %}
          {{content.name}}
          {% endif %}
        </h6>
        <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">{{content.summary}}</h6>
        <div class="items">
          {% for item in content.highlights %}
          <div class="item ml-1 ml-md-4">
            {{ item }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
